.meetingDetailsModal {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  width: 100vw;
  height: 100vh;
  background-color: rgba(137, 189, 233, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* prevent scroll chaining to the page while modal is open */
  overscroll-behavior: contain;
  touch-action: none;
}

.meetingDetailsMainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  width: 20vw;
  /* height: 50vh; */
  border-radius: 60px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  color: black;
}

input {
  width: 75%;
  height: 24px;
  padding: 5px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: 1px solid gray;
  color: gray;
  opacity: 1;
}

input::placeholder {
  color: black; /* placeholder text color */
  opacity: 0.5;
}

input,
textarea,
select,
button {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
}

.editProfileContainer .saveButtonProfile {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  background-color: rgb(39, 92, 227);
  color: white;
}

.inputEditProfileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.meetingDetailsTitle {
  width: 100%;
  font-size: large;
  text-align: center;
}

.meetingDetailsMainContainer p {
  display: flex;
  justify-content: space-between;
}

.seprator {
  height: 1px;
  width: 100%;
  background-color: rgb(198, 191, 191);
}

.date {
  display: flex;
  justify-content: space-between;
}

.placeARef {
  cursor: pointer;
}