.meetingCardContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  gap: 10px;
  background-color: whitesmoke;
  color: black;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meetingCardContainer button {
  font-size: 11px;
  padding: 4px 8px;
  height: 24px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  color: #58b3fe;
}

.meetingCardContainer button:focus,
.meetingCardContainer button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.meetingCardContainer .delete-button {
    color: red;
}

.meetingTitle {
  font-size: 20px;
}

.statusParticipant {
  font-size: 14px;  
}

.editInputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editMeetingButtons {
    display: flex;
    gap: 10px;
}

.editInputContainer .updateMeetingButton {
    height: fit-content;
}

.editInputContainer input {
    background-color: #58b3fe;
    color: whitesmoke;
}

.footerEditMeeting {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.notesMeeting {
    padding: 5px;
    background-color: rgb(215, 210, 210);
    color: black; 
    opacity: 0.5;
    border-radius: 5px;
    width: 70%;
}

.participant-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.participantListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.particpants-container {
  padding: 0;  
}

select {
    padding: 5px;
    background-color: gray;
    opacity: 0.6;
    color: whitesmoke;
    border-radius: 5px;
    border: none;
}

select option {
    background-color: gray;
    opacity: 0.6;
    color: whitesmoke;
}

select option:checked {
    background-color: gray;
    opacity: 0.6;
    color: whitesmoke;
}