.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
        /* background: linear-gradient(-45deg, #667eea, #764ba2, #f093fb, #f5576c); */
    background-color: #89bde9;
}

.userInteraction {
    height: 100vh;
     display: flex;
    flex-direction: column;
    justify-content: center;
}

.background {
    background-color: whitesmoke;
    padding: 30px;
    height: 60vh;
    width: 30vw;
    gap: 65px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.userFields {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.buttons {
    display: flex;
    padding: 0 50px;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

input {
    width: 75%;
    height: 24px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(197, 192, 192);
    color: black;
    opacity: 1;
}

input::placeholder {
  color: black;      /* placeholder text color */
  opacity: 0.5;
}

/* Remove default focus/box-shadow on inputs and similar controls */
input, textarea, select, button {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}

input:focus, textarea:focus, select:focus, button:focus {
    box-shadow: none ;
    -webkit-box-shadow: none ;
    outline: none ;
}


button {
    border-radius: 50px;  
    background-color: white;
    color: black;
    text-align: center;
    font-size: small;
}

.header {
    text-align: center;
    color: black;
}