.mainApp {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainHeadline {
  text-align: center;
  color: white;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.meetingContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.create-meeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.create-meeting button {
  font-size: 11px;
  padding: 4px 8px;
  height: 24px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  color: #58b3fe;
    background-color: white;
    width: fit-content;
}

.addMeetingButton {
}