.mainApp {
  width: calc(100vw - 80px);
  margin: 0 40px;
  display: grid;
  grid-template-areas:
    "header header"
    "menu sideMenu";
  /* "footer footer"; */
  grid-template-columns: 1fr 5fr;
  gap: 3px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.mainApp div.header {
  grid-area: header;
  text-align: center;
}
.mainApp div.menu {
  grid-area: menu;
}
.mainApp div.content {
  grid-area: content;
}
.mainApp div.footer {
  grid-area: footer;
  text-align: center;
}

.mainHeadline {
  text-align: center;
  color: white;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.meetingContainer {
  padding-top: 100px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.create-meeting {
  position: absolute;
  left: calc(50% - 15vw);
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.create-meeting {
  position: absolute;
  left: calc(50% - 15vw);
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  /* Opening animation */
  animation: modalOpen 0.3s ease-out forwards;
}

/* Closing animation class */
.create-meeting.closing {
  animation: modalClose 0.3s ease-in forwards;
}

/* Opening animation */
@keyframes modalOpen {
  from {
    opacity: 0;
    transform: scale(0.7) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* Closing animation */
@keyframes modalClose {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(0.7) translateY(-20px);
  }
}

.create-meeting button {
  font-size: 11px;
  padding: 4px 8px;
  height: 24px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  color: #58b3fe;
  background-color: white;
  width: fit-content;
}

/* .screenContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}  */
