.editProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: white;
  padding: 30px;
  width: 32vw;
  height: 50vh;
  border-radius: 60px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  color: black;
}

input {
  width: 75%;
  height: 24px;
  padding: 5px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: 1px solid gray;
  color: gray;
  opacity: 1;
}

input::placeholder {
  color: black; /* placeholder text color */
  opacity: 0.5;
}

input,
textarea,
select,
button {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
}

.editProfileContainer .saveButtonProfile{
  margin-top: 10px;
  width: 100%;
  height: 30px;
  background-color: rgb(39, 92, 227);
  color: white;
}

.inputEditProfileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}