.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meetingsContainer {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 0px 10px;
}


.meetingColorIndicator {
  width: 4px;
  height: 20px;
  border-radius: 10px;
}

.meetingCardRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
