.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: calc(886px/2); */
}

.meetingsContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}