.menu-container {
  position: sticky;
  top:30%;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: flex-end;
  gap: 18px;
  width: 200px;
  border: 1px solid whitesmoke;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px 20px;
  color: black;
  background-color: whitesmoke;
  margin-top: 80px;
}

.logoutButton {
  background-color: #ff4d4d;
  color: white;
}

.addMeetingButton {
  background-color: rgb(21, 155, 21);
  color: white;
}

.userLogo {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 16vh;
  border-bottom: 1px solid rgb(198, 192, 192);
  padding-bottom: 12px; /* reduce instead of 50px */
}

.userName {
  display: flex;
  gap: 5px;
  font-size: 18px;
}

.mainButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 0;
  flex: 1; /* allow this area to grow so we can push logout to bottom */
}

/* ensure logout button is pushed to the bottom of the menu */
.mainButtonsContainer .logoutButton,
.menu-container > .logoutButton {
  margin-top: auto;
  align-self: stretch; /* optional: make it span full width */
}

.mainButtonsContainer button {
  all: unset;
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(198, 192, 192);
}

.buttonsContainer {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.underline {
  all: unset;
  border-top: 1px solid rgb(198, 192, 192);
}
